In [95]:
from jinja2 import Template
import re
import string
import snowflake.connector
import pandas as pd

In [117]:
# define snowflake connection
ctx = snowflake.connector.connect(
    user='TRANSFORMATION_DEV_SERVICE',
    password='T4aN5_D3w_S3erV#',
    account='si44367.eu-central-1',
    schema='STAGING',
    database='TRANSFORMATION_DEV',
    warehouse='TRANSFORMATION_DEV_XS_WH'
    )

# define run query function 
def run_query(query):
    cs=ctx.cursor()
    allrows=cs.execute(query).fetchall()
    # write the results of the query into a pandas dataframe 
    df = pd.DataFrame(allrows)
    df.columns = ['output_value']
    # return the dataframe
    return df

# Test for application_category_parser

In [9]:
# define function to test
func_name = 'application_category_parser'
test_value = 'skyq'

In [103]:
# read the function
with open('functions' + "/" + func_name + ".sql", 'r') as jinja_file:
    jinja_func = jinja_file.read()

In [105]:
# cast the function to string and clean it
clean_function = jinja_func.split('\n')[2:][:-2]
str_func = ' '.join(clean_function)
print(str_func)

CASE             WHEN LOWER("{{ application_type }}") IN ('smartcast'                                                 ,'has_player'                                                 ,'tizen'                                                 ,'xfinity'                                                 ,'fairplay'                                                 ,'webos'                                                 ,'exoplayer'                                                 ,'abstract method'                                                 ,'tv web'                                                 ,'skyq'                                                 ,'mdk_sky_q'                                                 ,'roku tv'                                                 ,'shaka'                                                 ,'netcast'                                                 ,'orsay'                                                 ,'opera tv'                                                 ,'chromecast'                                                 ,'mdk_android_tv'                                                 ,'hisense'                                                 ,'xbox one'                                                 ,'playstation 4'                                                 ,'playstation 3'                                                 ,'apple tv'                                                 ,'toshiba tv'                                                 ,'panasonic tv'                                                 ,'sony tv'                                                 ,'android tv'                                                 ,'hisensejp'                                                 ,'sonyceb'                                                 ,'mdk_webmaf'                                                 ,'funai') THEN 'Living Room'         WHEN LOWER("{{ application_type }}") IN ('ios', 'android') THEN 'Mobile'         WHEN LOWER("{{ application_type }}") = 'web' THEN 'Web'         ELSE 'Others'         END

In [114]:
jinja_func_temp = Template(str_func)
jinja_func_final = jinja_func_temp.render({"application_type": 'skyq'})
jinja_func_final = jinja_func_final.replace('"',"'")

In [118]:
run_query('SELECT ' + jinja_func_final)

  output_value
0  Living Room

# test for cdn_parser

In [119]:
# define function to test
func_name = 'cdn_parser'

In [120]:
# read the function
with open('functions' + "/" + func_name + ".sql", 'r') as jinja_file:
    jinja_func = jinja_file.read()

In [121]:
# cast the function to string and clean it
clean_function = jinja_func.split('\n')[2:][:-2]
str_func = ' '.join(clean_function)
print(str_func)

CASE     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%akamai%' THEN 'Akamai'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%ll%' THEN 'Limelight'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%cf%' THEN 'Amazon'     WHEN "{{ start_time_unix }}" >= 1506124800 AND "{{ stream_url }}" ILIKE '%perform.secure.footprint.net%' THEN 'CenturyLink'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%fw%' THEN 'Flow'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%vn%' THEN 'Verizon'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%un%' THEN 'UDN'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%dr%' THEN 'DLVR'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%ac%' THEN 'Amazon'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%ak%' THEN 'Akamai'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%cl%' THEN 'CenturyLink'     WHEN "{{ start_time_unix }}" >= 1506124800 AND "{{ stream_url }}" ILIKE '%dazn.secure.footprint.net%' THEN 'CenturyLink'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%llit%' THEN 'Limelight'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%lldach%' THEN 'Limelight'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%llca%' THEN 'Limelight'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%lles%' THEN 'Limelight'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%az%' THEN 'Microsoft Azure'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%gc%' THEN 'Google'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%ms%' THEN 'Mainstreaming'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%br%' THEN 'Broadpeak'     WHEN "{{ start_time_unix }}" >= 1506124800 AND LEFT("{{ stream_url }}",40) ILIKE '%sh%' THEN 'Stackpath'     WHEN "{{ start_time_unix }}" >= 1506124800 AND "{{ stream_url }}" IS NULL THEN 'Unknown'     WHEN "{{ start_time_unix }}" < 1506124800 THEN NULL     ELSE 'Other' END

In [146]:
# isolate the arguments of the function
args = re.findall(r"{{ (.*?) }}", str_func)
args = list(dict.fromkeys(args))
args

['start_time_unix', 'stream_url']

In [131]:
jinja_func_temp = Template(str_func)